<div class="container">
    <form class="form-horizontal col-sm-8" name="contacts" novalidate>
        <fieldset ng-disabled="formStatus.isEditModeOpen">
            <div class="form-group">
                <div class="red-text" ng-show="contacts.country.$dirty && contacts.country.$invalid">
                    <small class="red-text" ng-show="contacts.country.$error.required">
                        Country is required.
                    </small>
                    <small class="red-text" ng-show="contacts.country.$error.minlength">
                        Country is required to be at least 3 characters
                    </small>
                </div>
                <label for="country" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    <input type="text"
                           name="country"
                           class="form-control"
                           id="country"
                           placeholder="Country"
                           ng-model="userContacts.country"
                           ng-minlength="2" required>
                </div>
            </div>
            <div class="form-group">
                <div class="red-text" ng-show="contacts.city.$dirty && contacts.city.$invalid">
                    <small class="red-text" ng-show="contacts.city.$error.required">
                        City is required.
                    </small>
                    <small class="red-text" ng-show="contacts.city.$error.minlength">
                        City is required to be at least 3 characters
                    </small>
                </div>
                <label for="city" class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                    <input type="text"
                           name="city"
                           class="form-control"
                           id="city"
                           placeholder="City"
                           ng-model="userContacts.city"
                           ng-minlength="2" required>
                </div>
            </div>
            <div class="form-group">
                <div class="red-text" ng-show="contacts.street.$dirty && contacts.street.$invalid">
                    <small class="red-text" ng-show="contacts.middleName.$error.required">
                        Street is required.
                    </small>
                    <small class="red-text" ng-show="contacts.street.$error.minlength">
                        Street is required to be at least 3 characters
                    </small>
                </div>
                <label for="street" class="col-sm-2 control-label">Street</label>
                <div class="col-sm-10">
                    <input type="text"
                           name="street"
                           class="form-control"
                           id="street"
                           placeholder="Street"
                           ng-model="userContacts.street"
                           ng-minlength="2" required>
                </div>
            </div>
            <div class="form-group">
                <div class="red-text" ng-show="contacts.zip.$dirty && contacts.zip.$invalid">
                    <small class="red-text" ng-show="contacts.zip.$invalid">
                        Your rate ZIP code is required
                    </small>
                </div>
                <label for="zip" class="col-sm-2 control-label">ZIP code</label>
                <div class="col-sm-10">
                    <input type="text"
                           name="zip"
                           class="form-control"
                           id="zip"
                           placeholder="ZIP code"
                           ng-model="userContacts.zip" required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button"
                                class="btn btn-default"
                                ng-disabled="phones.length == 4"
                                ng-click="addPhone()">Add phone</button>
                    </div>
                </div>
                <div class="list-group" ng-repeat="phone in userContacts.phones track by phone['id']">
                    <div class="red-text" ng-show="contacts.phoneNumber.$dirty && contacts.phoneNumber.$invalid">
                        <small class="red-text" ng-show="contacts.middleName.$error.required">
                            Your phone is required
                        </small>
                    </div>
                    <label for="" class="col-sm-2 control-label">
                        <input type="text"
                                name="phoneName"
                                class="form-control"
                                placeholder="Name"
                                ng-model="phone.name" required>
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="phoneNumber"
                               class="form-control"
                               placeholder="Phone number"
                               ng-model="phone.number" required>
                    </div>
                </div>
            </div>{{userContacts.phones}}
            <div class="form-group">
                <div class="red-text" ng-show="contacts.email.$dirty && contacts.email.$invalid">
                    <small class="red-text" ng-show="contacts.email.$error.required">
                        Your email is required.
                    </small>
                    <small class="red-text" ng-show="contacts.email.$error.email">
                        That is not a valid email. Please input a valid email.
                    </small>
                </div>
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control"
                           id="email"
                           placeholder="Email"
                           name="email"
                           ng-model="userContacts.email"
                           required>
                </div>
            </div>
            <div class="list-group">
                <div class="form-group">
                    <div class="red-text" ng-show="contacts.facebook.$dirty && contacts.facebook.$invalid">
                        <small class="red-text" ng-show="contacts.facebook.$error.required">
                            ... is required.
                        </small>
                        <small class="red-text" ng-show="contacts.facebook.$error.url">
                            Please, provide valid URL format
                        </small>
                    </div>
                    <label for="facebook" class="col-sm-2 control-label">Facebook</label>
                    <div class="col-sm-10">
                        <input type="url"
                               name="facebook"
                               class="form-control"
                               id="facebook"
                               placeholder="Facebook"
                               ng-model="userContacts.facebook" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="red-text" ng-show="contacts.linkedIn.$dirty && contacts.linkedIn.$invalid">
                        <small class="red-text" ng-show="contacts.linkedIn.$error.required">
                            .. is required.
                        </small>
                        <small class="red-text" ng-show="contacts.linkedIn.$error.url">
                            Please, provide valid URL format
                        </small>
                    </div>
                    <label for="facebook" class="col-sm-2 control-label">LinkedIn</label>
                    <div class="col-sm-10">
                        <input type="url"
                               name="linkedIn"
                               class="form-control"
                               id="linkedIn"
                               placeholder="LinkedIn"
                               ng-model="userContacts.linkedIn" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="red-text" ng-show="contacts.twitter.$dirty && contacts.twitter.$invalid">
                        <small class="red-text" ng-show="contacts.twitter.$error.required">
                            ... is required.
                        </small>
                        <small class="red-text" ng-show="contacts.twitter.$error.url">
                            Please, provide valid URL format
                        </small>
                    </div>
                    <label for="twitter" class="col-sm-2 control-label">Twitter</label>
                    <div class="col-sm-10">
                        <input type="url"
                               name="twitter"
                               class="form-control"
                               id="twitter"
                               placeholder="Twitter"
                               ng-model="userContacts.twitter" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="red-text" ng-show="contacts.website.$dirty && contacts.website.$invalid">
                        <small class="red-text" ng-show="contacts.website.$error.required">
                            ... is required.
                        </small>
                        <small class="red-text" ng-show="contacts.website.$error.url">
                            Please, provide valid URL format
                        </small>
                    </div>
                    <label for="website" class="col-sm-2 control-label">Website</label>
                    <div class="col-sm-10">
                        <input type="url"
                               name="website"
                               class="form-control"
                               id="website"
                               placeholder="Website"
                               ng-model="userContacts.website" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button"
                            class="btn btn-default"
                            ng-disabled="contacts.$invalid"
                            ng-click="updateContacts(userContacts)">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="form-group">
        <div class="col-sm-10">
            <button type="button"
                    class="btn btn-default"
                    ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">Edit Mode
            </button>
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <p ng-show="isUpdated" class="text-danger">You have successfully updated the form!</p>
        </div>
    </div>
</div>