.text-center {
    text-align: center;
}

.remove-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.flat-inputs {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #DDDDDD !important;
}

.flat-inputs input:not([type]):focus,
.flat-inputs input[type="text"]:focus {
    box-shadow: none !important;
}

.ui-select-drop-wrap.ui-select-match{
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    min-width: 14em;
    min-height: 2.7142em;
    background: #fff;
    display: inline-block;
    padding: .78571429em 2.6em .78571429em 1em;
    color: rgba(0,0,0,.87);
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
}