<div class="ui segment">
    <div class="ui grid">
        <div class="sixteen wide column">
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                    Market Place Settings
                    <div class="sub header">Manage your legal issue</div>
                </div>
            </h2>
            <div class="ui divider"></div>
            <div class="content">
                <img class="ui small left floated image" src="assets/build/images/mock_64.svg">
                <p>
                    Te eum doming eirmod, nominati pertinacia argumentum ad his.
                    Ex eam alia facete scriptorem, est autem aliquip detraxit at.
                    Usu ocurreret referrentur at, cu epicurei appellantur vix.
                    Cum ea laoreet recteque electram, eos choro alterum definiebas in.
                    Vim dolorum definiebas an. Mei ex natum rebum iisque.
                </p>
                <div class="ui divider"></div>
            </div>
            <a ui-sref="marketPlaceLawyerCreate">
                <div class="ui blue labeled icon button">
                    Create New Legal Issue
                    <i class="add icon"></i>
                </div>
            </a>
        </div>
        <div class="sixteen wide column">
            <div class="ui horizontal divider">Your Legal Issues</div>
            <div class="column">
                <div class="ui link cards">
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/veronika.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Veronika Ossi</div>
                            <div class="meta">
                                <a>Friends</a>
                            </div>
                            <div class="description">
                                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
                            </div>
                        </div>
                        <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/stevie.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Stevie Feliciano</div>
                            <div class="meta">
                                <span class="date">Joined in 2014</span>
                            </div>
                            <div class="description">
                                Stevie Feliciano is a library scientist living in New York City.
                            </div>
                        </div>
                        <div class="extra content">
              <span class="right floated">
                Joined in 2011
              </span>
              <span>
                <i class="user icon"></i>
                35 Friends
              </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/steve.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Steve Jobes</div>
                            <div class="meta">
                                <a>Acquaintances</a>
                            </div>
                            <div class="description">
                                Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                            </div>
                        </div>
                        <div class="extra content">
              <span class="right floated">
                Joined in 2014
              </span>
              <span>
                <i class="user icon"></i>
                151 Friends
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>