<div>
    <div class="ui small steps fluid">
        <div class="step" ui-sref-active="active" ng-class="{disabled: wizardStatus.step1}">
            <i class="browser icon"></i>
            <div class="content">
                <a ui-sref="marketPlaceLawyerView.marketPlaceLawyerCreate">
                    <div class="title">General information</div>
                    <div class="description">Define your legal service group</div>
                </a>

            </div>
        </div>
        <div class="step" ui-sref-active="active" ng-class="{disabled: wizardStatus.step2}">
            <i class="idea icon"></i>
            <div class="content">
                <a ui-sref="marketPlaceLawyerView.marketPlaceLawyerDetail">
                    <div class="title">Detail information</div>
                    <div class="description">Describe you legal service</div>
                </a>
            </div>
        </div>
        <div class="step" ui-sref-active="active" ng-class="{disabled: wizardStatus.step3}">
            <i class="info icon"></i>
            <div class="content">
                <a ui-sref="marketPlaceLawyerView.marketPlaceLawyerConfirm">
                    <div class="title">Confirm</div>
                    <div class="description">Verify service details</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui header"></div>
    <div ui-view="marketPlace"></div>
</div>