<div class="ui segment">
    <h3 class="ui center aligned column">CREATE A LEGAL SERVICE(GENERAL)</h3>
    <div class="ui clearing divider"></div>
    <div class="ui fluid action huge input" id="wrap-add-market-task">
        <input type="text" id="add-market-task"
               placeholder="Put a name of new task..."
               ng-model="taskTitle.title">
        <button class="ui button" id="add-market-task-button"
                ng-disabled="!taskTitle.title"
                ng-click="addNewTask()">
            <i class="plus icon"></i>
        </button>
    </div>
    <div ng-if="!legalServiceTasks.length">
        <div class="content">
            <h4 class="center aligned column">How it works diagram...</h4>
            <img class="ui small left floated image" src="assets/build/images/mock_64.svg">
            <p>
                Te eum doming eirmod, nominati pertinacia argumentum ad his.
                Ex eam alia facete scriptorem, est autem aliquip detraxit at.
                Usu ocurreret referrentur at, cu epicurei appellantur vix.
                Cum ea laoreet recteque electram, eos choro alterum definiebas in.
                Vim dolorum definiebas an. Mei ex natum rebum iisque.
            </p>
            <p>
                Audiam quaerendum eu sea, pro omittam definiebas ex.
                Te est latine definitiones. Quot wisi nulla ex duo.
                Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer.
                Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.
            </p>
        </div>
    </div>
    <div class="ui sixteen column middle aligned relaxed fitted stackable grid" ng-if="legalServiceTasks.length">
        <div class="six wide column">
            <div class="ui fluid vertical steps">
                <div ng-repeat="task in legalServiceTasks track by $index">
                    <div class="step"
                         ng-click="getElement(task, $index)"
                         ng-class="{active : $index == taskDetail.index}">
                        <i class="tasks icon"></i>
                        <div class="content">
                            <div class="title">{{task.title}}</div>
                        </div>
                    </div>
                </div>
                <div class="ui header">
                    <button class="ui button fluid"
                            ui-sref="marketPlaceLawyerView.marketPlaceLawyerConfirm">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
        <div class="ten wide column top aligned">
            <div class="ui form segment inactive tab-content">
                <div class="column center aligned" ng-show="!taskDetail">
                    <i class="massive folder outline icon"></i>
                    <h3>Let's start! Open the task to modify.</h3>
                </div>
                <div ng-show="taskDetail">
                    <div class="menu-controls">
                        <div class="ui text menu">
                            <a class="item" ng-click="saveLegalIssueToStorage()">
                                <i class="save icon"></i> Save
                            </a>
                            <a class="item" ng-click="formStatus.isEditModeOpen = !formStatus.isEditModeOpen">
                                <i class="edit icon"></i> Edit
                            </a>
                            <a class="item" ng-click="removeTask(taskDetail)">
                                <i class="trash icon"></i> Remove
                            </a>
                            <a class="item" ng-click="getElement()">
                                <i class="remove icon"></i> Close
                            </a>
                        </div>
                    </div>
                    <fieldset class="remove-fieldset"
                              ng-disabled="!formStatus.isEditModeOpen"
                              ng-class="{disabled: !formStatus.isEditModeOpen, field: !formStatus.isEditModeOpen}">
                        <div class="ui items">
                            <div class="item">
                                <label>Name of the task</label>
                                <div class="ui fluid icon input">
                                    <input type="text" class="flat-inputs"
                                           ng-model="taskDetail.title"
                                           placeholder="Add task name for legal issue">
                                </div>
                            </div>
                            <div class="item">
                                <label>What is included?</label>
                                <div class="ui list">
                                    <div class="item">
                                        <div class="ui icon input">
                                            <input type="text" class="flat-inputs"
                                                   ng-model="taskDetail.included"
                                                   placeholder="What will be done?">
                                            <i class="plus icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <label>What is NOT included?</label>
                                <div class="ui list">
                                    <div class="item">
                                        <div class="ui icon input">
                                            <input type="text" class="flat-inputs"
                                                   ng-model="taskDetail.excluded"
                                                   placeholder="What will not be done?">
                                            <i class="plus icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <label>What is required from a client?</label>
                                <div class="ui list">
                                    <div class="item">
                                        <div class="ui icon input">
                                            <input type="text" class="flat-inputs"
                                                   ng-model="taskDetail.required"
                                                   placeholder="What need to be provided?">
                                            <i class="plus icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

