<div class="ui centered grid">
    <div class="ten wide column">
        <form class="ui form segment" ng-class="{'loading': loading}"
              name="registration" novalidate>
            <div class="ui error message"></div>
            <div class="ui red message" ng-if="error">
                <ul class="list">
                    <li>{{error}}</li>
                </ul>
            </div>
            <h4 class="text-center">Реєстрація</h4>
            <div class="required field">
                <label>Електронна адреса</label>
                <input placeholder="Електронна адреса"
                       name="email"
                       type="text"
                       ng-model="signUp.email"
                       required>
            </div>
            <div class="required field">
                <label>Пароль</label>
                <input type="password"
                       name="password"
                       ng-model="signUp.password"
                       ng-pattern="/^(.){6,}$/"
                       required>
            </div>
            <div class="required field">
                <label>Підтвердити пароль</label>
                <input type="password"
                       name="cpassword"
                       ng-model="signUp.cpassword"
                       ng-pattern="/^(.){6,}$/"
                       required>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" name="terms">
                    <label>Я погоджуюсь з умовами корустування</label>
                </div>
            </div>
            <button class="ui blue button"
                    ng-click="registration.$invalid || submit(signUp)">Зареєструватись</button>
        </form>
    </div>
</div>
