<div class="">
    <div class="">
        <form class="ui form segment inactive" name="certificateForm" novalidate>
            <div class="ui green message" ng-if="isUpdated">
                <div class="header">
                    Ви успішно обновили профайл!
                </div>
            </div>
            <div class="ui red message" ng-if="error">
                <ul class="list">
                    <li>{{error}}</li>
                </ul>
            </div>
            <div class="ui error message"></div>
            <h4 class="text-center">Сертіфикати</h4>
            <div ng-repeat="certificate in certificates track by $index">
                <div class="required field">
                    <label>Сертифікат</label>
                    <input type="text"
                           ng-model="certificate.name"
                           ng-disabled="!formStatus.isEditModeOpen"
                           id="certificate"
                           placeholder="Назва сертифікату"
                           required>
                </div>
                <div class="required field">
                    <label>Номер</label>
                    <input type="text"
                           ng-model="certificate.licenseCode"
                           id="license"
                           ng-disabled="!formStatus.isEditModeOpen"
                           placeholder="Номер ліцензії"
                           required>
                </div>
                <div class="field">
                    <label>Посиллання</label>
                    <div class="ui labeled input">
                        <div class="ui label">
                            http://
                        </div>
                        <input type="url"
                               ng-model="certificate.link"
                               id="link"
                               ng-disabled="!formStatus.isEditModeOpen"
                               placeholder="Будь-яка інформація про сертифікат">
                    </div>
                </div>
                <div class="ui horizontal divider">
                    Дата одержання сертифіката
                </div>
                <div class="two fields">
                    <div class="field">
                        <label></label>
                        <ui-select ng-model="certificate.date" required theme="bootstrap" ng-disabled="!formStatus.isEditModeOpen">
                            <ui-select-match placeholder="Рік початку...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="year in selectorYears | filter: $select.search">
                                <span ng-bind-html="year | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui labeled icon button"
                     ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">
                    <i class="edit icon"></i>
                    Редагувати
                </div>
                <button class="ui labeled icon blue button"
                        ng-click="updateCertificates(certificate); formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">
                    <i class="save icon"></i>
                    Зберегти
                </button>
                <div class="ui labeled icon red button" ng-click="removeCertificate(certificate)">
                    <i class="remove icon"></i>
                    Видалити
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="ui horizontal divider">Додати сертифікат</div>
            <div class="left aligned column">
                <div class="ui labeled icon button" ng-click="addCertificate()">
                    <i class="plus icon"></i>
                    Додади
                </div>
            </div>
        </form>
    </div>
</div>




<!--
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Certificate</h3>
            <div>
                <button type="button"
                        class="btn btn-default btn-sm"
                        ng-click="addCertificate()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Certificate
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-repeat="certificate in certificates track by certificate['id']">
        <fieldset ng-disabled="formStatus.isEditModeOpen">
            <form name="universityForm" novalidate>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" ng-click="removeCertificate(certificate)">&times;</span>
                </button>
                <div class="form-group">
                    <label for="cname">Name</label>
                    <input type="text"
                           ng-model="certificate.name"
                           class="form-control"
                           id="cname"
                           placeholder="Enter certificate name" required>
                </div>
                <div class="form-group">
                    <label for="license">license Code</label>
                    <input type="text"
                           ng-model="certificate.licenseCode"
                           class="form-control"
                           id="license"
                           placeholder="Enter license code">
                </div>
                <div class="form-group">
                    <label for="clink">Link</label>
                    <input type="url"
                           ng-model="certificate.link"
                           class="form-control"
                           id="clink"
                           placeholder="Link" required>
                </div>
                <div class=""> <!-- /. start year picker -->

<!--
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   ng-model="certificate.date"
                                   datepicker-popup="MM-yyyy"
                                   datepicker-options="dateOptions"
                                   min-mode="'month'"
                                   max-date="maxDate"
                                   min-date="minDate"
                                   datepicker-mode="'month'"
                                   show-button-bar="false"
                                   is-open="opened"
                                   ng-required="true"
                                   placeholder="Select a date"/>
                  <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-default"
                            ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                        </p>
                    </div>
                </div> <!-- /. close Start year picker  -->

<!--
                <div class="clearfix"></div>
            </form>
        </fieldset>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default"
                type="button"
                ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">Edit mode</button>
        <button class="btn btn-default"
                type="button"
                ng-disabled="formStatus.isEditModeOpen"
                ng-click="updateCertificates(certificates)">Update Certificate
        </button>
        <p ng-show="error" class="text-danger">{{ error }}</p>
        <p ng-show="isUpdated" class="text-danger">You have successfully updated the form!</p>
    </div>
</div>

-->