<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Language</h3>
            <h6>Please, enter your language</h6>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-6">
            <label>Languages:</label>
            <ui-select multiple
                       tagging
                       tagging-label="false"
                       ng-model="languages"
                       on-select="setLanguages($item, 'select')"
                       on-remove="setLanguages($item, 'remove')"
                       theme="bootstrap"
                       ng-disabled="formStatus.isEditModeOpen"
                       title="Choose a language">
                <ui-select-match placeholder="Select a language...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="language in listOfLanguages">
                    <small>
                        {{language}}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default"
                type="button"
                ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">Edit mode
        </button>
        <p ng-show="error" class="text-danger">{{ error }}</p>
    </div>
</div>