<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Education</h3>
            <div>
                <button type="button"
                        class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Education
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="universityForm" novalidate>
            <div class="form-group">
                <label for="school">School</label>
                <input type="text"
                       ng-model="university.name"
                       class="form-control"
                       id="school"
                       placeholder="Enter school name" required>
            </div>
            <div class="form-group">
                <label for="faculty">Faculty</label>
                <input type="text"
                       ng-model="university.faculty"
                       class="form-control"
                       id="faculty"
                       placeholder="Faculty">
            </div>
            <div class="form-group">
                <label for="degree">Degree</label>
                <input type="text"
                       ng-model="university.degree"
                       class="form-control"
                       id="degree"
                       placeholder="Degree" required>
            </div>
            <div class=""> <!-- /. start year picker -->
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               ng-model="university.startDate"
                               datepicker-popup="yyyy"
                               datepicker-options="dateOptions"
                               min-mode="'year'"
                               max-date="maxDate"
                               min-date="minDate"
                               datepicker-mode="'year'"
                               show-button-bar="false"
                               is-open="openedStart"
                               ng-required="true"
                               placeholder="Select start year"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div> <!-- /. close Start year picker  -->
            <div class=""> <!-- /. start End year picker -->
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               ng-model="university.endDate"
                               datepicker-popup="yyyy"
                               datepicker-options="dateOptions"
                               min-mode="'year'"
                               max-date="maxDate"
                               min-date="minDate"
                               datepicker-mode="'year'"
                               show-button-bar="false"
                               is-open="openedEnd"
                               ng-required="true"
                               placeholder="Select end year"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div> <!-- /. close End year picker  -->
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" type="button">Edit mode</button>
        <button class="btn btn-default" type="button">Update Education</button>
    </div>
</div>