<div class="ui centered grid">
    <div class="ten wide column">
        <form class="ui form segment" name="login" novalidate>
            <div class="ui error message"></div>
            <div class="ui red message" ng-if="error">
                <ul class="list">
                    <li>{{error}}</li>
                </ul>
            </div>
            <h3 class="center aligned column">Login</h3>
            <div class="required field">
                <label>Email address</label>
                <div class="ui icon input">
                    <input placeholder="example@example.com"
                           name="email"
                           type="text"
                           ng-model="signIn.email" required>
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="required field">
                <label>Password</label>
                <div class="ui icon input">
                    <input type="password"
                           name="password"
                           ng-model="signIn.password"
                           ng-pattern="/^(.){6,}$/" required>
                    <i class="lock icon"></i>
                </div>
            </div>
            <button class="ui blue button"
                 ng-click="login.$invalid || submit(signIn)">Sign In
            </button>
            <div class="text-center"><a ui-sref="login">Forgot your password?</a></div>
        </form>
    </div>
</div>
