<div class="ui centered grid">
    <div class="ten wide column">
        <form class="ui form segment" name="login" novalidate>
            <div class="ui error message"></div>
            <div class="ui red message" ng-if="error">
                <ul class="list">
                    <li>{{error}}</li>
                </ul>
            </div>
            <h3 class="center aligned column">ЛОГІН</h3>
            <div class="required field">
                <label>Електронна адреса</label>
                <input placeholder="Логін"
                       name="email"
                       type="text"
                       ng-model="signIn.email" required>
            </div>
            <div class="required field">
                <label>Пароль</label>
                <input type="password"
                       name="password"
                       ng-model="signIn.password"
                       ng-pattern="/^(.){6,}$/" required>
            </div>
            <button class="ui blue button"
                 ng-click="login.$invalid || submit(signIn)">Підтвердити
            </button>
            <div class="center aligned column"><a ui-sref="login">Забули пароль?</a></div>
        </form>
    </div>
</div>
