<div class="panel panel-default">
    <div class="panel-heading">Srearch for lawyers</div>
    <div id="filters-block panel-body">
        <form name="aFilters" class="menu-band container-fluid additional-filters" ng-show="true">
            <ul class="row-fluid clearfix list-unstyled">
                <li class="col-xs-3">
                    <label>First name:</label>
                    <input type="text" class="form-control"
                           name="firstName"
                           ng-model="filters.firstName"
                           placeholder="First name"/>
                </li>
                <li class="col-xs-3">
                    <label>Last name:</label>
                    <input type="text" class="form-control"
                           name="LastName"
                           ng-model="filters.lastName"
                           placeholder="Last name"/>
                </li>
            </ul>
            <ul class="row-fluid clearfix list-unstyled">
                <li class="col-xs-3">
                    <label>City:</label>
                    <ui-select ng-model="filters.address.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false">
                        <ui-select-match placeholder="Enter a city...">{{$select.selected.formatted_address}}</ui-select-match>
                        <ui-select-choices repeat="address in addresses track by $index"
                                           refresh="refreshAddresses($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </li>
                <li class="col-xs-6">
                    <label>Competence:</label>
                    <ui-select ng-model="filters.competences" multiple
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="true">
                        <ui-select-match placeholder="Enter a Competence...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="competence in competences | filter: $select.search"
                                           refresh="refreshCompetences($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="competence | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>{{competence}}
                </li>
            </ul>
            <ul class="row-fluid clearfix list-unstyled">
                <li class="col-xs-5">
                    <label>Rate:</label>
                    <ul class="list-inline input-pair">
                        <li>
                            <input name="minRate" ng-pattern="/^\d{0,9}$/"
                                   ng-model="filters.minRate"
                                   class="form-control"
                                   placeholder="From"
                                   ng-change="validateInputPair('minRate', 'maxRate')" required/>
                        </li>
                        <li>-</li>
                        <li>
                            <input name="maxRate" ng-pattern="/^\d{0,9}$/"
                                   ng-model="filters.maxRate"
                                   class="form-control"
                                   placeholder="To"
                                   ng-change="validateInputPair('minRate', 'maxRate')" required/>
                        </li>
                    </ul>
                    <p class="text-danger" ng-if="aFilters.minRate.$error.pattern && aFilters.minRate.$dirty">
                        Min rate value should be a number
                    </p>
                    <p class="text-danger" ng-if="aFilters.maxRate.$error.pattern && aFilters.maxRate.$dirty">
                        Max rate value should be a number
                    </p>
                    <div ng-if="!aFilters.maxRate.$error.pattern && !aFilters.minRate.$error.pattern">
                        <p class="text-danger" ng-if="minRate.requiredBothError">Both fields are required</p>
                        <p class="text-danger" ng-if="minRate.pairError && !minRate.requiredBothError">Last rate value can not be less than first one</p>
                    </div>
                </li>
                <li class="col-sm-3">
                    <label>Gender:</label>
                    <ui-select ng-model="filters.gender" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match placeholder="Select a gender in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="gender in genderTypes | filter: $select.search">
                            <span ng-bind-html="gender.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </li>
                <li class="col-xs-5">
                    <label>Working years:</label>
                    <ul class="list-inline input-pair">
                        <li>
                            <input name="minExp" ng-pattern="/^\d{0,9}$/"
                                   ng-model="filters.minExp"
                                   class="form-control"
                                   placeholder="From"
                                   ng-change="validateInputPair('minExp', 'maxExp')"/>
                        </li>
                        <li>-</li>
                        <li>
                            <input name="maxExp" ng-pattern="/^\d{0,9}$/"
                                   ng-model="filters.maxExp"
                                   class="form-control"
                                   placeholder="To"
                                   ng-change="validateInputPair('minExp', 'maxExp')"/>
                        </li>
                    </ul>
                    <p class="text-danger" ng-if="aFilters.minExp.$error.pattern && aFilters.minExp.$dirty">
                        Min working value should be a number
                    </p>
                    <p class="text-danger" ng-if="aFilters.maxExp.$error.pattern && aFilters.maxExp.$dirty">
                        Max working value should be a number
                    </p>
                    <div ng-if="!aFilters.maxExp.$error.pattern && !aFilters.minExp.$error.pattern">
                        <p class="text-danger" ng-if="minExp.requiredBothError">Both fields are required</p>
                        <p class="text-danger" ng-if="minExp.pairError && !minExp.requiredBothError">Last working value can not be less than first one</p>
                    </div>
                </li>
            </ul>
            <ul class="row-fluid clearfix list-unstyled">
                <li class="col-sm-3">
                    <label>Language:</label>
                    <ui-select ng-model="filters.languages" multiple
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="true">
                        <ui-select-match placeholder="Select a language in the list...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="language in languages | filter: $select.search">
                            <div ng-bind-html="language | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </li>
                <li>
                    <label>Availability:</label>
                    <input type="checkbox" name="availability"
                            ng-model="filters.availability"/>
                </li>
            </ul>
            <div class="basic-filters">
                <a href="" class="btn btn-primary"
                        ng-click="getResults()">Show results</a>
                <a href="" class="reset" ng-click="resetFilter()">Reset all</a>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center empty-section" ng-if="!tableState.isFound && !tableState.isEmpty">
            <h4>You do not have search result yet, please use filters to get suggestions.</h4>
        </div>
        <div class="text-center empty-section" ng-if="tableState.isEmpty">
            <h4>No search results found. Please, try another request</h4>
        </div>
        <div ng-if="tableState.isFound">
            <div class="row">
                <div class="col-sm-2">
                    <h5>Avatar</h5>
                </div>
                <div class="col-sm-2">
                    <h5>First name</h5>
                </div>
                <div class="col-sm-2">
                    <h5>Last name</h5>
                </div>
                <div class="col-sm-2">
                    <h5>Middle name</h5>
                </div>
                <div class="col-sm-2">
                    <h5>Birthday</h5>
                </div>
                <div class="col-sm-2">
                    <h5>Rate</h5>
                </div>
            </div>
            <div class="row" ng-repeat="lawyer in searchResponse">
                <div ui-sref="publicProfile({id: lawyer.id})" ng-click="getSelectedLawyer({id: lawyer.id})">
                    <div class="col-sm-2"><img ng-src="{{::lawyer.avatar}}"></div>
                    <div class="col-sm-2">{{::lawyer.profile.firstName}}</div>
                    <div class="col-sm-2">{{::lawyer.profile.lastName}}</div>
                    <div class="col-sm-2">{{::lawyer.profile.middleName}}</div>
                    <div class="col-sm-2">{{::lawyer.profile.birthDate}}</div>
                    <div class="col-sm-2">{{::lawyer.profile.minRate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>