<div class="">
    <div class="">
        <form class="ui form segment inactive tab-content" name="experienceForm" novalidate>
            <div class="ui green message" ng-if="isUpdated">
                <div class="header">
                    You have successfully updated profile!
                </div>
            </div>
            <div class="ui red message" ng-if="error">
                <ul class="list">
                    <li>{{error}}</li>
                </ul>
            </div>
            <div class="ui error message"></div>
            <h4 class="text-center">Experience</h4>
            <div ng-repeat="experience in experiences track by $index">
                <div class="required field">
                    <label for="expName">Company Name</label>
                    <input type="text"
                           ng-model="experience.name"
                           ng-disabled="!formStatus.isEditModeOpen"
                           ng-minlength="2"
                           id="expName"
                           placeholder="Enter company name" required>
                </div>
                <div class="required field">
                    <label for="position">Position</label>
                    <input type="text"
                           ng-model="experience.position"
                           ng-disabled="!formStatus.isEditModeOpen"
                           ng-minlength="2"
                           id="position"
                           placeholder="Enter your position">
                </div>
                <div class="required field">
                    <label for="responsibilities">Responsibilities</label>
                    <textarea class="form-control"
                              ng-model="experience.responsibilities"
                              ng-disabled="!formStatus.isEditModeOpen"
                              ng-minlength="30"
                              id="responsibilities"
                              placeholder="Responsibilities (min 30 characters)" required>

                    </textarea>
                </div>
                <div class="ui horizontal divider">
                    Time Period
                </div>
                <div class="two fields">
                    <div class="field">
                        <label></label>
                        <ui-select ng-model="experience.startDate" required theme="bootstrap" ng-disabled="!formStatus.isEditModeOpen">
                            <ui-select-match placeholder="Start year...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="year in selectorYears | filter: $select.search">
                                <span ng-bind-html="year | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="field">
                        <label></label>
                        <ui-select ng-model="experience.endDate" required theme="bootstrap" ng-disabled="!formStatus.isEditModeOpen">
                            <ui-select-match placeholder="End year...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="year in selectorYears | filter: $select.search">
                                <span ng-bind-html="year | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui labeled icon button"
                     ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">
                    <i class="edit icon"></i>
                    Edit
                </div>
                <button class="ui labeled icon blue button"
                        ng-click="updateExperience(experience); formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">
                    <i class="save icon"></i>
                    Save
                </button>
                <div class="ui labeled icon red button" ng-click="removeExperience(experience)">
                    <i class="remove icon"></i>
                    Remove
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="ui horizontal divider">Add Experience</div>
            <div class="left aligned column">
                <div class="ui labeled icon button" ng-click="addExperience()">
                    <i class="plus icon"></i>
                    Add
                </div>
            </div>
        </form>
    </div>
</div>











<!-- **** Old version ***
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Experience</h3>
            <div>
                <button type="button"
                        class="btn btn-default btn-sm"
                        ng-click="addExperience()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Experience
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-repeat="experience in experiences track by experience['id']">
        <fieldset ng-disabled="formStatus.isEditModeOpen">
            <form name="experienceForm" novalidate>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" ng-click="removeExperience(experience)">&times;</span>
                </button>
                <div class="form-group">
                    <label for="expName">Company Name</label>
                    <input type="text"
                           ng-model="experience.name"
                           class="form-control"
                           id="expName"
                           placeholder="Enter company name" required>
                </div>
                <div class="form-group">
                    <label for="faculty">Position</label>
                    <input type="text"
                           ng-model="experience.position"
                           class="form-control"
                           id="faculty"
                           placeholder="Enter your position">
                </div>
                <div class="form-group">
                    <label for="responsibilities">Responsibilities</label>
                    <textarea class="form-control"
                              rows="3"
                              ng-model="experience.responsibilities"
                              id="responsibilities"
                              placeholder="Responsibilities" required>

                    </textarea>
                </div>
                <div class="form-group">
                    <label for="responsibilities">Time Period</label>
                    <div class=""> <!-- /. start year picker -->

<!--
                        <div class="col-md-3">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control"
                                       ng-model="experience.startDate"
                                       datepicker-popup="MM-yyyy"
                                       datepicker-options="dateOptions"
                                       min-mode="'year'"
                                       max-date="maxDate"
                                       min-date="minDate"
                                       datepicker-mode="'month'"
                                       show-button-bar="false"
                                       is-open="openedStart"
                                       ng-required="true"
                                       placeholder="Select start year"/>
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                            </p>
                        </div>
                    </div> <!-- /. close Start year picker  -->
<!--
                    <div class=""> <!-- /. start End year picker -->
<!--
                        <div class="col-md-3">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control"
                                       ng-model="experience.endDate"
                                       datepicker-popup="MM-yyyy"
                                       datepicker-options="dateOptions"
                                       min-mode="'year'"
                                       max-date="maxDate"
                                       min-date="minDate"
                                       datepicker-mode="'month'"
                                       show-button-bar="false"
                                       is-open="openedEnd"
                                       ng-required="true"
                                       placeholder="Select end year"/>
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                            </p>
                        </div>
                    </div> <!-- /. close End year picker  -->
<!--
                </div>
                <div class="clearfix"></div>{{experiences}}
            </form>
        </fieldset>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default"
                type="button"
                ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">Edit mode</button>
        <button class="btn btn-default"
                type="button"
                ng-disabled="formStatus.isEditModeOpen"
                ng-click="updateExperience(experiences)">Update Experience
        </button>
        <p ng-show="error" class="text-danger">{{ error }}</p>
        <p ng-show="isUpdated" class="text-danger">You have successfully updated the form!</p>
    </div>
</div>

-->