<div class="">
    <div class="">
        <div ui-view="wizardBar"></div>
    </div>
    <section id="todoapp" class="ui form segment inactive tab-content">
        <section class="">
            <div class="ui divided items">
                <h3 class="ui center aligned column">Create a legal service</h3>
                <div class="item">
                    <header id="header">
                        <div class="ui fluid icon input">
                            <label>Task</label>
                            <input type="text" placeholder="Add task name for legal issue">
                        </div>
                    </header>
                </div>
                <div class="item">
                    <label>What is included?</label>
                    <textarea placeholder="What will be done for particular task"></textarea>
                </div>
                <div class="item">
                    <label>What is NOT included?</label>
                    <textarea placeholder="What will not be done for particular task"></textarea>
                </div>
                <div class="item">
                    <label>What is required from a client?</label>
                    <textarea placeholder="What have to be provided from the client?"></textarea>
                </div>
            </div>
        </section>
    </section>
</div>
