<div class="ui ordered steps" style="margin: auto">
    <div class="completed step">
        <div class="content">
            <div class="title">Create</div>
            <div class="description">Select you legal service</div>
        </div>
    </div>
    <div class="active step">
        <div class="content">
            <div class="title">Fill your service</div>
            <div class="description">Enter your information</div>
        </div>
    </div>
    <div class="disabled step">
        <div class="content">
            <div class="title">Confirm</div>
            <div class="description">Verify details</div>
        </div>
    </div>
</div>