<div class="">
    <div class="">
        <form class="ui form segment inactive tab-content" name="experienceForm" novalidate>
            <div class="ui green message" ng-if="isUpdated">
                <div class="header">
                    You have successfully updated profile!
                </div>
            </div>
            <div class="ui red message" ng-if="error">
                <ul class="list">
                    <li>{{error}}</li>
                </ul>
            </div>
            <div class="ui error message"></div>
            <h4 class="text-center">Experience</h4>
            <div ng-repeat="experience in experiences track by $index">
                <div class="required field">
                    <label for="expName">Company Name</label>
                    <input type="text"
                           ng-model="experience.name"
                           ng-disabled="!formStatus.isEditModeOpen"
                           ng-minlength="2"
                           id="expName"
                           placeholder="Enter company name" required>
                </div>
                <div class="required field">
                    <label for="position">Position</label>
                    <input type="text"
                           ng-model="experience.position"
                           ng-disabled="!formStatus.isEditModeOpen"
                           ng-minlength="2"
                           id="position"
                           placeholder="Enter your position">
                </div>
                <div class="required field">
                    <label for="responsibilities">Responsibilities</label>
                    <textarea class="form-control"
                              ng-model="experience.responsibilities"
                              ng-disabled="!formStatus.isEditModeOpen"
                              ng-minlength="30"
                              id="responsibilities"
                              placeholder="Responsibilities (min 30 characters)" required>

                    </textarea>
                </div>
                <div class="ui horizontal divider">
                    Time Period
                </div>
                <div class="two fields">
                    <div class="field">
                        <label></label>
                        <ui-select ng-model="experience.startDate" required theme="bootstrap" ng-disabled="!formStatus.isEditModeOpen">
                            <ui-select-match placeholder="Start year...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="year in selectorYears | filter: $select.search">
                                <span ng-bind-html="year | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="field">
                        <label></label>
                        <ui-select ng-model="experience.endDate" required theme="bootstrap" ng-disabled="!formStatus.isEditModeOpen">
                            <ui-select-match placeholder="End year...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="year in selectorYears | filter: $select.search">
                                <span ng-bind-html="year | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui labeled icon button"
                     ng-click="formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">
                    <i class="edit icon"></i>
                    Edit
                </div>
                <button class="ui labeled icon blue button"
                        ng-click="updateExperience(experience); formStatus.isEditModeOpen = ! formStatus.isEditModeOpen">
                    <i class="save icon"></i>
                    Save
                </button>
                <div class="ui labeled icon red button" ng-click="removeExperience(experience)">
                    <i class="remove icon"></i>
                    Remove
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="ui horizontal divider">Add Experience</div>
            <div class="left aligned column">
                <div class="ui labeled icon button" ng-click="addExperience()">
                    <i class="plus icon"></i>
                    Add
                </div>
            </div>
        </form>
    </div>
</div>