<div class="container">
    <h2>Landing page/Intro Page/etc</h2>
    <ul>
    <div ng-show="!isLoggedIn">
        <li><a ui-sref="login">Test Login Page</a></li>
        <li><a ui-sref="registration">Test Registration Page</a></li>
    </div>
    <div ng-show="isLoggedIn">
       <li><a ui-sref="profile">Test Profile Page</a></li>
       <li><a ui-sref="contacts">Test Contacts Page</a></li>
       <li><a ui-sref="education">Test Education Page</a></li>
       <li><a ui-sref="experience">Test Experience Page</a></li>
       <li><a ui-sref="filters">Test Filters Page</a></li>
       <li><a ui-sref="competence">Test Competence Page</a></li>
    </div>
    </ul>
</div>