<div class="registration">
    <form class="form-horizontal" role="form" name="registration" novalidate>
        <div class="form-group">
            <div class="red-text" ng-show="registration.email.$dirty && registration.email.$invalid">
                <small class="red-text" ng-show="registration.email.$error.required">
                    Your email is required.
                </small>
                <small class="red-text" ng-show="registration.email.$error.email">
                    That is not a valid email. Please input a valid email.
                </small>
            </div>
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control"
                       id="inputEmail"
                       placeholder="Email"
                       name="email"
                       ng-model="signUp.email"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div class="red-text" ng-show="registration.password.$dirty && registration.password.$invalid">
                <small class="red-text" ng-show="registration.password.$error.required">
                    Your password is required.
                </small>
                <small class="red-text" ng-show="registration.password.$error.pattern">
                    Your password is required to be at least 8 characters
                </small>
            </div>
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control"
                       id="inputPassword"
                       placeholder="Password"
                       name="password"
                       ng-model="signUp.password"
                       ng-pattern="/^(.){8,}$/"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div class="red-text">
                <small class="red-text" ng-show="(signUp.password !== signUp.cpassword) && registration.cpassword.$dirty">
                    Your confirmation password doesn't match to password
                </small>
            </div>
            <label for="inputConfPassword" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control"
                       id="inputConfPassword"
                       placeholder="Confirm Password"
                       name="cpassword"
                       ng-model="signUp.cpassword"
                       ng-pattern="/^(.){8,}$/"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button"
                        class="btn btn-default"
                        ng-disabled="registration.$invalid || (signUp.password !== signUp.cpassword)"
                        ng-click="submit(signUp)">Sign up</button>
                <p ng-show="commonError" class="text-danger">{{ commonError }}</p>
            </div>
        </div>
    </form>
</div> <!-- Registration container -->